.speed{
	position: absolute;
	bottom: 50px;
	left: 225px;
	height: 35px;
	width: 35px;
	background-color: white;
	
	border-radius: 50%;
	border: red 7px solid;
}
	  
	.speedNUM{
		position:relative;
		margin-top: 25%;
		
		font-family: 'DIN',sans-serif;
		font-size: 18px;
		font-weight: 600;
	}
	
	@font-face {
		font-family: 'DIN';
		src: url('DIN.ttf') format('truetype');
	  }

	  .unlimit{
		position: absolute;
		bottom: 70px;
		left: 225px;
		height: 35px;
		width: 35px;
	}